.maindiv{
	max-width: 800px;
	margin: 0 auto;
	border: 3px dashed rgb(145, 97, 97);
	width: 40%;
	height: 700px;
	padding: 10px 10px 10px 10px;
	padding-left: 20px;
}
.button{
    background-color: mediumorchid;
    padding:9px;
    border: 0;
}
#resultimg{
max-width: 70%;
max-height:28%;
}